// $main-color: #FFA501;
// $main-color: #64ffda;
$main-color: #30A7E2;
$hover-color: #31FFEE;
$text-color: #e8e8e8;
$bg-color: linear-gradient(to right, #2c3e50, #4ca1af);
// $bg-color: linear-gradient(to right, #141e30, #243b55);