@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background: #1F1E1C;
	color: #e8e8e8;
	cursor: none;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.divider {
	width: 60px;
	height: 3px;
	background-color: $main-color;
	margin: 25px auto 0 auto;
}

a {
	&:hover {
		background: $hover-color;
		cursor: none;
		box-shadow: 0 0 5px #31FFEE,0 0 25px #31FFEE,0 0 50px #31FFEE;
	}
}


@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/price';
@import 'blocks/contacts';
@import 'blocks/test';
@import 'blocks/cursor';
@import 'blocks/media';