.btn {
	height: 45px;
	background: $main-color;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	padding: 12px 25px;
	&:hover {
		background: $hover-color;
		box-shadow: 0 0 5px #31FFEE,0 0 25px #31FFEE,0 0 50px #31FFEE;
	}
}