.promo {
    min-height: 100vh;
    position: relative;
    &__title {
        width: 800px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        align-items: center;
    }
    &__link {
        color: #000;
        font-weight: bold;
        padding: 11px 20px;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
}

.container {
    &_promo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
