.sidepanel {
	position: fixed;
	top: 300px;
	left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 340px;
	z-index: 3;
	transition: 1s;
	&:hover {
		transform: scale(1.5);
	}
	a {
		transition: 1s;
		padding: 5px;
		border-radius: 5px;
		&:hover {
			background: none;
			transform: rotate(90deg);
		}
	}
	&__divider {
		width: 2px;
		height: 72px;
		background-color: #e8e8e8;
	}
	&__text {
		height: 150px;
		width: 25px;
		span {
			display: block;
			width: 75px;
			transform: rotate(-90deg) translate(-30%, -107%);
			font-weight: 700;
			font-size: 16px;
			line-height: 24px;
		}
	}
}